In [ ]:
import OOD_PRACTICE as shape

In [12]:
shape

In [7]:
my_shape1 = shape.Shape('shape_1')  # construct a object
print(f"shape_1's name is {my_shape1.get_name()}")

shape_1's name is shape_1

In [8]:
my_shape_2 = shape.Rectangle("shape_2_rectangle", 20, 10)
print(f"shape_2's name is {my_shape_2.get_name()}")
print(f"shape_2's area is {my_shape_2.get_area()}")

shape_2's name is shape_2_rectangle
shape_2's area is 200

In [9]:
my_shape_3 = shape.Square("shape_3_square",20)
print(f"shape_3's name is {my_shape_3.get_name()}")
print(f"shape_3's area is {my_shape_3.get_area()}")

shape_2's name is shape_3_square
shape_2's area is 400

In [10]:
my_shape_4 = shape.SquareWithAHoleInside("shape_4_square_hole",20,1)
print(f"shape_4's name is {my_shape_4.get_name()}")
print(f"shape_4's area is {my_shape_4.get_area()}")

shape_4's name is shape_4_square_hole
shape_4's area is 399

In [11]:
my_shape_5 = shape.Circle("shape_5_Circle",10)
print(f"shape_5's name is {my_shape_5.get_name()}")
print(f"shape_5's area is {my_shape_5.get_area()}")
print(f"shape_5's area is {my_shape_5.get_color()}")

shape_5's name is shape_5_Circle
shape_5's area is 314.0
shape_5's area is red

### Make Project 1 Data Preprocessing as a module

In [30]:
import pandas as pd
df_train = pd.read_csv('/Users/amy/Desktop/Python Bootcamp/projec1_data/aug_train.csv')

In [31]:
def preproc_city(df):
    city_dict = df['city'].value_counts().to_dict()
    lst_small_city=[]
    lst_med_city=[]
    lst_large_city=[]
    lst_superlarge_city=[]
    for key,value in city_dict.items():
        if value <=50:
            lst_small_city.append(key)
        if value >50 and value <=100:
            lst_med_city.append(key)
        if value >100 and value <=200:
            lst_large_city.append(key)
        else:
            lst_superlarge_city.append(key)
            
    df.loc[df['city'].isin(lst_small_city) , 'city'] = 'city_small'
    df.loc[df['city'].isin(lst_med_city) , 'city'] = 'city_med'
    df.loc[df['city'].isin(lst_large_city) , 'city'] = 'city_large'
    df.loc[df['city'].isin(lst_superlarge_city) , 'city'] = 'city_xlarge'

In [32]:
preproc_city(df= df_train)

In [33]:
df_train.city.value_counts()

city_xlarge    13766
city_large      2800
city_med        1332
city_small      1260
Name: city, dtype: int64

In [39]:
from sklearn.preprocessing import LabelEncoder


def mylabelencoder(df, col):
    le = LabelEncoder().fit(df[col])
    lst = le.classes_
    df[col] = le.transform(df[col])
    encoding_list = dict(zip(le.classes_, le.transform(le.classes_)))
    return encoding_list

In [40]:
city_encoding_list = mylabelencoder(df= df_train, col='city')

In [41]:
city_encoding_list

{'city_large': 0, 'city_med': 1, 'city_small': 2, 'city_xlarge': 3}

In [43]:
rel_exp_encoding_list = mylabelencoder(df= df_train, col='relevent_experience')

In [44]:
rel_exp_encoding_list

{'Has relevent experience': 0, 'No relevent experience': 1}

In [45]:
df_train

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,3,0.920,Male,0,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,1,0.776,Male,1,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,3,0.624,NaN,1,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,1,0.789,NaN,1,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,0,0.767,Male,0,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,0,0.878,Male,1,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19154,31398,3,0.920,Male,0,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19155,24576,3,0.920,Male,0,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19156,5756,0,0.802,Male,0,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
19157,23834,3,0.855,NaN,1,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0